[Unit]
Description=Prometheus Node Exporter Service
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/node_exporter
User=prometheus
ExecStart=/usr/bin/node_exporter $ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
